<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ 
		background-color: #090448;
		padding-top:80px; }
	</style>
	
	<script>
		function validateForm()
		{
		var x=document.forms["myForm"]["email"].value;
		var atpos=x.indexOf("@");
		var dotpos=x.lastIndexOf(".");
		if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length)
		  {
		  alert("Not a valid e-mail address");
		  return false;
		  }
		else {
			var str = x.substring(atpos+1);
			if (str.toLowerCase() != "tcs.com")
			{
				alert("Not a valid tcs e-mail address");
				return false;
			}
		}
		
		}
</script>
	
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

	<h1><font color="white"><span class="fa fa-sign-in"></span> Forgot Password</font></h1>

	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
	<form name ="myForm" action="/retrivePassword" method="post">
		
		
		<div class="form-group">
			<label><font color="white">TCS Email(User ID)</font></label>
			<input type="number" id="email" class="form-control" name="email" required>
		</div>
		
			

		<button type="submit" class="btn btn-warning btn-lg">Get Password</button>
	</form>

	<hr>

	<p><font color="white">Remember Password?</font><a href="/login"><font color="yellow">Login</a></p>
	<p><font color="white">Or go</font> <a href="/"><font color="orange">home</a>.</p>

	

</div>
</div>
</body>
</html>