<!doctype html>
<html>
<head>
	<title>TCS CHARLOTTE LAB Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body { 
		background-color:#090448;
		padding-top:80px; 
		}
		
		.resizedTextbox {width: 230px; height: 100px ;  padding: 1px}
	</style>
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		
		
          <h1><span class="fa fa-lock">TCS Charlotte lab</h1>
       
          
          <p class="lead"><font color="black">Please log the use of Lab Machine</font></p>
       
		<form action="/new", method ="POST">
			<center>
			  <table style="height: 253px; margin-left: 60px; width: 696px;">
				<tbody>
				  <tr>
					<td style="width: 379px;"><font face="trebuchet MS" size="5" color="black">Employee ID:</font>
					</td>
					<td style="width: 0px;">
						<% if (user.local.email) { %>
						<p><font face="trebuchet MS" size="5" color="black"><%= user.local.email %></font></p>
						
						<!--<input name="empID" type="number">-->
						<% } %>
					</td>
				  </tr>
				  <tr>
					<td ><font face="trebuchet MS" size="5" color="black">Full Name:</font>
					</td>
					<td><input name="name" type="text" ></td>
				</tr>
				<tr>
					<td ><font face="trebuchet MS" size="5" color="black">Reason why are you here ? </font></td>
					<td><textarea name="reason" type="text" class=resizedTextbox ></textarea>
					</td>
				</tr>
    </tbody>
  </table>
  </center>

			
          
            
            <button class="btn btn-success btn-large" type="submit">Register</button>
          

	

</div>
</body>
</html>