<!doctype html>
<html>
<head>
	<title>TCS CHARLOTTE LAB Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body { 
		background-color:#090448;
		padding-top:80px; 
		}
		
		.resizedTextbox {width: 230px; height: 100px ;  padding: 1px}
		
	.logoutLblPos{

	   position:absolute;
	   right:0px;
	   top:0px;
	}
	</style>
</head>
<body>
<div class="container">
	<label class="logoutLblPos">
		<a style="float:right; margin-right:0px;" href="/logout" class="btn btn-default btn-sm">Logout</a>
	</label>
	<div class="jumbotron text-center">
		
		
          <h1><span class="fa fa-lock">Thank you for registering yourself..!!!</h1>
       
	</div>
</div>
</body>
</html>